<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/fondo.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" action="index.html">
                    <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logos/logo-vertical-usco.png" alt="Home" /></a>
                    <div class="form-group" id="loginform">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Usuario"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Contraseña"></div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-danger" type="submit"> <b>Ingresar </b> &nbsp;
                                <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: -30px;">
                            <div class="social">
                                <small>O ingresa por Google</small><br>
                                <a href="javascript:void(0)" style="width: 200px; margin-top:10px" class="btn  btn-googleplus"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>